<ion-content padding class="main-content vertical-align-content" center text-center>

  <ion-grid *ngIf="data_loaded">

    <ion-row center *ngIf="user_provider.isUserLoggedIn()">

      <ion-col col-3></ion-col>
      <ion-col col-6 text-center>
        <img width="100" class="profile_pic" [src]="user_provider.getUserBasicDetails().display_pic">
      </ion-col>
      <ion-col col-3></ion-col>

      <ion-col col-12 text-center>
        <h3 class="section-header" text-capitalize>{{user_provider.getUserBasicDetails().name}}</h3>
      </ion-col>

      <ion-col col-12 text-center>
        <h5 class="section-description">Logged in using: <span class="focus" text-capitalize>{{user_provider.getUserBasicDetails().sign_in_with}}</span></h5>
      </ion-col>

      <ion-col col-12 text-center>
        <button ion-button icon-right (click)="signOut()" color="light">
          Sign Out
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-col>

    </ion-row>

    <ion-row center *ngIf="!user_provider.isUserLoggedIn()">

      <ion-col col-12 text-center>
        <h1 class="person-icon" text-capitalize>
          <ion-icon name="person"></ion-icon>
        </h1>
      </ion-col>

      <ion-col col-12 text-center>
        <h3 class="section-description" text-capitalize>You are not logged in</h3>
      </ion-col>

      <ion-col col-12 text-center>
        <button ion-button icon-right (click)="openSignInOptions()" color="secondary">
          Sign In
          <ion-icon name="log-in"></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
