page-search {
  .main-content{
    font-family: "Segoe UI", "Noto Sans", sans-serif;
    background-color: #192f42;
    .search-icon{
      color: #d1ccc0;
      margin-top: 30px;
      font-size: 70px;
    }
    .search-heading{
      color: #d1ccc0;
      font-size: 22px;
    }
  }
}
